# .coveragerc to control coverage.py
[run]
omit =
    */site-packages/*
    */distutils/*
    */home/travis/virtualenv/*


source=
    dronelanding/test.py
    dronelanding/trajectory.py
    dronelanding/raspberrycamera.py
